{% extends 'starter.html' %}
{% load mytags %}
{% load static %}

{% block title %}
    <h1>报名记录</h1>
{% endblock %}
{% block consult %}
    <div style="padding-bottom: 4px"><a href="{% url 'add_enrollment' %}" class=" btn btn-primary">添加纪录</a></div>
    <form class="form-inline" style="float: right !important;">
        {#    {% csrf_token %}#}
        <div class="form-group">
            <select class="form-control" name="search_type">
                <option value="customer__name__contains">客户名称</option>
{#                <option value="qq__contains">QQ</option>#}
            </select>
            <input type="text" class="form-control" id="search" placeholder="seach..." name="name">
            <button type="submit" class="btn btn-default">search</button>
        </div>
    </form>
    <form method="post">
        {% csrf_token %}
        <div class="form-group" style="float: left !important;">
            <select name="action" id="action" class="form-control">
                <option value="deleteRecord">批量删除</option>
            </select>

        </div>
        <button class="btn btn-primary">GO!</button>
        <table class="table table-hover table-bordered table-striped">
            {#         why_us = models.TextField('为什么报名',max_length=1024,default=None,blank=True, null=True)#}
            {#    your_expectation =models.TextField('学完想达到的具体期望',max_length=1024,blank=True, null=True)#}
            {#    encroll_date = models.DateTimeField('报名日期',auto_now_add=True)#}
            {#    contract_approved = models.BooleanField('审批通过',help_text='在审阅完学员的资料无误后，勾选此项，合同即生效',default=False)#}
            {#    memo = models.TextField('备注',blank=True, null=True)#}
            {#    delete_status = models.BooleanField('删除状态',default=False)#}
            {#    customer = models.ForeignKey(to='Custumer',verbose_name='客户名称')#}
            {#    school = models.ForeignKey('Campuses',verbose_name='校区')#}
            {#    enrolment_class = models.ForeignKey(to='Classlist',verbose_name='所报班级')#}
            <thead>
            <tr>
                <th><input type="checkbox">all</th>
                <th>序号</th>
                <th>客户名称</th>
                <th>为什么报名</th>
                <th>学完想达到的具体期望</th>
                <th>备注</th>
                <th>报名日期</th>
                <th>校区</th>
                <th>所报班级</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for enrollment in enrollments %}
                <tr>
                    <td><input type="checkbox" name="cids" value="{{ enrollment.pk }}"></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ enrollment.customer }}</td>
                    <td>{{ enrollment.why_us }}</td>
                    <td>{{ enrollment.your_expectation }}</td>
                    <td>{{ enrollment.memo }}</td>
                    <td>{{ enrollment.encroll_date | date:'Y:m:d H:i:s' }}</td>
                     <td>{{ enrollment.school }}</td>
                     <td>{{ enrollment.enrolment_class }}</td>
                    {#                    <td><a class="fa fa-edit" href="{% url 'edit_customer' costomers.pk %}">编辑</a></td>#}
                    <td><a class="fa fa-edit" href="{% resole_url request 'edit_enrollment' enrollment.pk %}">编辑</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    {{ page_html }}
{% endblock %}